.create-page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--colorBackground);
}

/* Header */

.create-page__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    height: 10vh;
}

.create-page__header__back-button-container {
    flex: 0.05;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    padding: 20px 0px;
    cursor: pointer;
}

.create-page__header__back-button-container i {
    color: var(--colorText2);
}

.create-page__header__back-button-container:hover {
    background-color: var(--colorTransparentHover);
}

.create-page__header__title {
    flex: 0.75;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 20px;
}

.create-page__header__title input {
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: var(--colorText1);
    font-weight: 500;
}

.create-page__header__title input::placeholder {
    color: var(--colorText4);
}

.create-page__header__action-button-container {
    flex: 0.2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 20px;
}

.create-page__header__action-button--primary {
    padding: 5px 20px;
    font-size: 1.1rem;
    font-weight: 500;
    border: 1px solid var(--colorPrimary);
    background-color: var(--colorPrimary);
    color: var(--colorOnPrimary);
}

.create-page__header__action-button--primary:hover {
    background-color: var(--colorPrimaryHover);
    border: 1px solid var(--colorPrimaryHover);
}

.create-page__header__action-button--secondary {
    padding: 5px 20px;
    font-size: 1.1rem;
    font-weight: 500;
    border: 1px solid var(--colorPrimary);
    background-color: var(--colorTransparent);
    color: var(--colorPrimary);
    margin-right: 20px;
}

.create-page__header__action-button--secondary:hover {
    background-color: var(--colorTransparentHover);
}


/* Body */

.create-page__body {
    display: flex;
}

.create-page__body__editor {
    flex: 0.5;    
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: calc(100vh - 10vh);
    overflow-y: scroll;
}

.create-page__body__editor::-webkit-scrollbar {
    width: 3px !important;
}

.create-page__body__editor::-webkit-scrollbar-track {
    background: rgba(27, 27, 27, 0.1);
}

.create-page__body__editor::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
}
.create-page__body__editor::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}


.create-page__body__generator {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 20px;
    height: calc(100vh - 10vh);
}



.create-page__body__editor__title, .create-page__body__editor__content {
    border: none;
    outline: none;
    resize: none;
}

.create-page__body__editor__title {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--colorText1);
    display: block;
}

.create-page__body__editor__content {
    margin-top: 30px;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--colorText1);
    height: 100%;
    display: block;
}

