/* Header */

.landing-page__header {
    display: flex;
    color: var(--colorText1);
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.10);
}

.landing-page__header__logo,
.landing-page__header__links,
.landing-page__header__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.landing-page__header__logo {
    flex: 0.2;
    font-size: 2rem;
    font-weight: 600;
}

.landing-page__header__links {
    flex: 0.6;
}

.landing-page__header__links ul {
    display: flex;
    list-style: none;
}

.landing-page__header__links ul li {
    margin-inline: 25px;
}

.landing-page__header__links ul li a {
    color: var(--colorText2);
    text-decoration: none;
    font-size: 1.15rem;
}

.landing-page__header__buttons {
    flex: 0.2;
}

.landing-page__header__button {
    padding: 7px 20px;
    margin: 0px 10px;
    font-size: 1.15rem;
    font-weight: 500;
}

.landing-page__header__button--secondary {
    background-color: var(--colorTransparent);
    border: none;
    color: var(--colorText1);
}

.landing-page__header__button--primary {
    background-color: var(--colorTransparent);
    border: 1px solid var(--colorPrimary);
    color: var(--colorPrimary);
}

/* Home */

.landing-page__home {
    min-height: 100vh;
}