.landing-page__header {
    display: flex;
    color: var(--colorText1);
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.10);
}

.landing-page__header__logo,
.landing-page__header__links {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.landing-page__header__logo {
    flex: 0.2;
    font-size: 2rem;
    font-weight: 600;
}

.landing-page__header__links {
    flex: 0.8;
}

.landing-page__header__links ul {
    display: flex;
    list-style: none;
}

.landing-page__header__links ul li {
    margin-inline: 25px;
}

.landing-page__header__links ul li a {
    color: var(--colorText1);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}