@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --colorPrimary: #00171f;
    --colorOnPrimary: #ffffff;
    --colorPrimaryHover: rgba(255, 255, 255, 0.1);
    --colorSecondary: #FDFFFC;
    --colorTransparent: rgba(0, 0, 0, 0);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--colorSecondary);
}

.landing-page-header {
    background-color: var(--colorPrimary);
    min-height: 100vh;
    color: var(--colorOnPrimary);
}

.landing-page-header__navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 5vw;
}

.landing-page-header__navbar__logo {
    font-weight: 600;
    font-size: 2rem;
    flex: 0.2;
    cursor: pointer;
}

.landing-page-header__navbar__links {
    flex: 0.6;
}

.landing-page-header__navbar__links ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-page-header__navbar__links ul li a {
    color: var(--colorOnPrimary);
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0px 20px;
    font-weight: 500;
}

.landing-page-header__navbar__links ul li a:hover {
    text-decoration: underline;
}

.landing-page-header__navbar__buttons {
    flex: 0.2;
}


.landing-page-header__navbar__buttons__button {
    background-color: var(--colorTransparent);
    color: var(--colorOnPrimary);
    font-size: 1.2rem;
    margin-left: 30px;
    font-weight: 500;
    padding: 10px 15px;
}

.landing-page-header__navbar__buttons__button:hover {
    background-color: var(--colorPrimaryHover);
    border-color: var(--colorTransparent);
}

.landing-page-header__navbar__buttons__button--primary {
    border: 1px solid var(--colorOnPrimary);
}

.landing-page-header__navbar__buttons__button--secondary {
    border: none;
}

.landing-page-header__heading {
    text-align: center;
    padding: 30px 10%;
    font-size: 2.6rem;
    font-weight: 600;
}

.landing-page-header__subheading {
    text-align: center;
    padding: 20px 15%;
    font-size: 1.3rem;
    font-weight: 400;
    opacity: 0.9;
}

.landing-page-header__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.landing-page-header__buttons__button {
    margin: 20px 20px;
    font-size: 1.2rem;
    color: var(--colorOnPrimary);
    width: 200px;
    padding: 15px 15px;
}

.landing-page-header__buttons__button--primary {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid var(--colorTransparent);
}

.landing-page-header__buttons__button--secondary {
    background-color: var(--colorPrimaryHover);
    border: 1px solid var(--colorOnPrimary);
}




.writerai-button {
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    transition: 1s all ease;
}