@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --colorPrimary: #006ba6;
    --colorOnPrimary: #ffffff;
    --colorBackground: #ffffff;
    --colorPrimaryHover: #005481;
    --colorTransparentHover: rgba(0, 0, 0, 0.05);

    --colorText1: #053159;
    --colorText2: #0c3868;
    --colorText3: #4e5b68;
    --colorText4: #868d92;


    --colorBackgroundVariant: #FDFFFC;
    --colorBackgroundCover: #f6f6f6;
    --colorBackgroundCoverVariant: #f5f9fc;


    --colorSecondary: #FF6600;
    --colorSecondaryHover: #ff5100;




    --colorSecondaryTint: #326afb;
    --colorSecondaryTintHover: #3e69f7;
    --colorOnSecondary: #ffffff;

    --colorSecondaryVariant: #31cb52;

    --colorTertiary: rgba(255, 255, 255, 0.1);
    --colorTertiaryHover: rgba(255, 255, 255, 0.2);

    --colorTransparent: rgba(0, 0, 0, 0);

}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: var(--colorBackground);
}

.writerai-button {
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 1s all ease;
}

.writerai-loading-component {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}




/*Scroll Bar*/
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(27, 27, 27, 0.2);
}

::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}


/*Other styles*/

/*Margin Vertical*/
.mv-10 {
    margin: 10px 0px;
}
