.home-page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--colorBackgroundCoverVariant);
    display: flex;
}

/* Tab Buttons */

.home-page__tab {
    width: 120px;
    background-color: var(--colorBackground);
}

.home-page__main {
    flex: 1;
}

.home-page__tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.home-page__tab-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--colorText4);
    padding: 20px;
    cursor: pointer;
    border-radius: 4px;
    border-right: 3px solid var(--colorTransparent);
}

.home-page__tab-item__image__icon {
    font-size: 2rem;
}

.home-page__tab-item__text {
    font-size: 0.9rem;
    text-transform: uppercase;
}

.home-page__tab-item--active {
    border-right-color: var(--colorPrimary);
    border-radius: 0px;
}

.home-page__tab-item__image__icon--active {
    color: var(--colorPrimary);
}

.home-page__tab-item__text--active {
    font-weight: 500;
    color: var(--colorText3);
}

.home-page__tab-item:hover {
    background-color: var(--colorTransparentHover);
}

/* Main Container */
.home-page__main {
    padding: 0px 2vw;
    height: 100%;
}

/* Header */

.home-page__header {
    height: 12vh;
    color: var(--colorText1);
    font-weight: 600;
    font-size: 1.7rem;
    padding: 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* Tab Content */
.home-page__tab-data {
    height: calc(100vh - (12vh + 6vh));
    margin-top: 20px;
}